version: "3"
services:
  kwp:
    build:
      context: ./docker
      dockerfile: Dockerfile
      args:
        HOST_GUID: ${USER_UID}
    ports:
      - 80:80
    volumes:
      - ./themes:/var/www/html/wp-content/themes
      - ./plugins:/var/www/html/wp-content/plugins
      - ./wp_html:/var/www/html
      - "./docker/tools:/tools"
    env_file: ./.env
    networks:
      - wordpress
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 1m30s
      timeout: 10s
      retries: 3
  kdb:
    image: mariadb
    env_file: ./.env
    ports:
      - 3306:3306
    volumes:
      - wordpressmysql:/var/lib/mysql
    networks:
      - wordpress
  kmy:
    image: phpmyadmin/phpmyadmin
    ports:
      - 8181:80
    networks:
      - wordpress
    env_file: ./.env
  kwm:
    tty: true
    depends_on:
      - kwp
    restart: on-failure:5
    image: welaika/wordmove
    volumes:
      - ./wp_html:/var/www/html
      - ./themes:/var/www/html/wp-content/themes
      - ./plugins:/var/www/html/wp-content/plugins
      - ./$MOVEFILE_PATH:/html/movefile.yml
      - ~/.ssh:/root/.ssh:ro # Forward local machine SSH key to docker
      - $SSH_AUTH_SOCK:/ssh-agent # Forward local machine SSH key to docker
    environment:
      SSH_AUTH_SOCK: /ssh-agent
    env_file: ./.env
    networks:
      - wordpress
networks:
  wordpress:
    driver: "bridge"
volumes:
  wordpressmysql:
    driver: "local"
