version: '3'
services:
  kwp:
    build:
      context: ./docker
      dockerfile: Dockerfile
      args:
        HOST_GUID: ${UID}
    ports:
    - 80:80
    volumes:
    - ./wp_html:/var/www/html
    - './docker/tools:/tools' 
    env_file: ./.env
    networks:
      - wordpress
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 1m30s
      timeout: 10s
      retries: 3
  kdb:
    image: mariadb
    env_file: ./.env
    volumes:
    - wordpressmysql:/var/lib/mysql
    networks:
      - wordpress
  kmy:
    image: corbinu/docker-phpmyadmin
    ports:
      - 8181:80
    networks:
      - wordpress
    env_file: ./.env
networks:
  wordpress:
    driver: "bridge"
volumes:
  wordpressmysql:
    driver: "local"
